ion-toolbar{
    --ion-background-color:#fc4a1a;
}
ion-title{
    font-family: "INTRO";
    color: white;
}
ion-button{
    --background:black ;
    margin-top: 11px;
}
i{
    color: white;
    
}
//color de fondo de la targeta
ion-card{
    background: #D5DBDB;
    color: black;
    border: none !important;
}

ion-button.circular-button {
    font-size: 10px;
    width: 120px; /* Ajusta el ancho y alto según el tamaño que desees */
    height: 120px;
    --border-radius: 50%; /* Esto hace que el botón tenga forma circular */
   
  }
h6{
    font-size: 160%;
}
@media (min-width: 600px){
    ion-card{
        width: 60%;
    }

    .container{
      display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
    }
    .card-wrapper{
        justify-content: center;
    }
    h4{
        font-size: 15px;
    }
    .titulo{
        font-size: 20px;
    }
    ion-header{
        height: 7%;
    }
    ion-toolbar{
        height: 100%;
    }

    ion-title{
        
        font-size: 120%;
        position: relative;
  top: -5px; 
    }

    ion-button.circular-button {
        width: 120px; /* Ajusta el ancho y alto según el tamaño que desees */
        height: 120px;
        --border-radius: 50%; /* Esto hace que el botón tenga forma circular */
        font-size: 8px;
        margin-top: 10px;
       
      }
      h6{
        font-size: 140%;
      }
}



  
  

  