ion-menu::part(backdrop) {
    background-color: rgba(24, 21, 24, 0.5);
}
  
ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px rgba(24, 21, 24, 0.5);
}
ion-title{
  font-family: "INTRO";
  color: black;
}
.logo img{
    width: 25%;
    height: 25%;
}
.btn{
  width: 100%;
}

h1{
  font-family: "TITULO";
}
//Colores de las paginas
//Color de los inputs
ion-input{
  background-color:#f1d9b0;
}
//fobdo del menu 
ion-toolbar{
  --ion-background-color:#fc4a1a;
}
//Fondo de los botones
ion-content button{
  background-color:#ff9d29;
  border-style: none;
}  


.logo img{
  width: 50%;
  height: 50%;
}
.option ion-input{
  width: 99%;
}

//Escalada de botones 
ion-col button{
width: 40%;
}
//modo de escritorio
@media (min-width: 600px) {

  .logo img{
    width: 15%;
    height: 20%;
}
.put{
  display: flex;
  justify-content: center; // Centrado horizontal
  align-items: center; // Centrado vertical
}
.option{
  width: 50%;
} 
button{
  width: 20% !important;
}

ion-header{
  height: 7%;
}
ion-toolbar{
  height: 100%;
}

ion-title{
  
  font-size: 120%;
  position: relative;
top: -5px; 
}

h1{
  font-size: 50px !important;
}

ion-input{
  min-height: 40px !important;
  font-size: 10px;
}
.takephoto button{
  height: 45px;
}
.home{

        
  position: relative;
top: -5px; 
}
}