ion-title{
  font-family: "INTRO";
  color: white;
}
ion-menu::part(backdrop) {
    background-color: rgba(24, 21, 24, 0.5);
}
  
ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px rgba(24, 21, 24, 0.5);
}

h1{
  font-family: "TITULO";
}

//Colores de las paginas
//Color de los inputs
ion-card{
  background: #D5DBDB;
    color: black;
}
//fobdo del menu 
ion-toolbar{
  --ion-background-color:#fc4a1a;
}
.logo img{
  width: 50%;
  height: 50%;
}

  
@media (min-width: 600px) {
  .logo img{
    width: 15%;
    height: 20%;
  }
  .centered-card {
    display: grid;
    place-items: center;
    
  
  }
  ion-card{
    width: 30%;
  }
  
  ion-header{
    height: 7%;
}
ion-toolbar{
    height: 100%;
}

ion-title{
    
  font-size: 120%;
  position: relative;
top: -5px; 
}
h1{
  font-size: 50px !important;
}

.home{

        
  position: relative;
top: -5px; 
}
}