ion-title{
  font-family: "INTRO";
  color: black;
}
  
  ion-menu::part(backdrop) {
      background-color: rgba(24, 21, 24, 0.5);
    }
    
  ion-menu::part(container) {
      border-radius: 0 20px 20px 0;
      box-shadow: 4px 0px 16px rgba(24, 21, 24, 0.5);
  }
  
  //fondo de los titulos
  ion-toolbar{
    text-align: center;
    --ion-background-color:#ff5c00;
  }
  
  
  //Botones del menu
  
  ion-content button{
      background-color:#ff9d29 ;
      border-style: none;
    }
  //fondo de las targetas
  ion-card{
    --ion-background-color: #ff9d29;
    color: white;
  }
  //Fondo del menu del despliegue
  ion-menu ion-content {
      --ion-background-color: #f1d9b0;
    }
    //Color de los iconos 
    ion-icon{
      color: black;
    }
    .btn{
      width: 100%;
  }
  .tarjetausu{
      display: inline-flex;
  }
  .actions{
      width: 20%;
  }
  //modo escritorio
  @media (min-width: 600px) {

    .container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }

    ion-card{
      width: 80%;
      height: 180px;
  }
  
  ion-header{
    height: 7%;
}
ion-toolbar{
    height: 100%;
}

ion-title{

  font-size: 120%;
  position: relative;
top: -5px; 
}

.searchbar-container {
  text-align: center; /* Centrar horizontalmente */
}

ion-searchbar {
  display: inline-block; /* Para que ocupe solo el ancho necesario */
  margin: 0 auto; /* Aplicar margen automático en los lados para centrar */
  width: 80%;
}
      
    }