<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="menu" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrar Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="text-center">
    <div class="logo">
      <img src="../../assets/icon/MicrosoftTeams-image.png" alt="Logo">
      <h1>POWERFIT GYM</h1>
    </div>
    <form class="formLog">
      <div class="put">
        <div class="inputsion">
          <ion-input type="text" name="txtnombre" [(ngModel)]="newUser.nombre" label="Nombre completo" label-placement="floating" fill="outline"></ion-input>
          <br/>
          <ion-input type="number" name="txttelefono" [(ngModel)]="newUser.telefono" label="Número de Teléfono" label-placement="floating" fill="outline"></ion-input>
          <br/>
          <ion-input type="email" name="txtemail" [(ngModel)]="newUser.email" label="Email" label-placement="floating" fill="outline"></ion-input>
          <br/>
          <ion-input type="password" name="txtpassword" [(ngModel)]="newUser.password" label="Password" label-placement="floating" fill="outline"></ion-input>
          <br/>
        </div> 
      </div>
      <div class="takephoto">
        <button class="btn btn-primary" (click)="addNewToGallery()"><ion-icon style="font-size: 200%;" name="camera-outline"></ion-icon></button>
        <p></p>
        <img src="{{newUser.foto}}" style="width: 30%;" *ngFor="let capturedPhoto of photos" alt="Foto Usuario">
      </div>
      <p></p>
      <div class="inico">
        <button class="btn btn-primary" (click)="crearUsuario()">SIGN UP</button>
        <p></p>
      </div>
    </form>
  </div>
</ion-content>
