//Estios de letras
//los h1
h1{
    font-family: "TITULO";
  }

//Menu principal
  ion-title{
    font-family: "INTRO";
    color: white;
}
  
  ion-menu::part(backdrop) {
      background-color: rgba(24, 21, 24, 0.5);
  }
    
  ion-menu::part(container) {
      border-radius: 0 20px 20px 0;
      box-shadow: 4px 0px 16px rgba(24, 21, 24, 0.5);
  }


  //Menu Principal
  ion-toolbar{
    --ion-background-color:#ff5c00;
    text-align: center;
  }
  
  //logo de la empresa
  .logo img{
      width: 50%;
      height: 50%;
  }

  //Inputs de los registros
  ion-input{
    margin-left: 20px;
    background-color:#EAEDED;
    width: 90%;
    min-height: 50px !important;
    font-size: 15px;
  }
  //cuando pasa el curso en uno de los inputs
  .ion-valid.sc-ion-input-md-h {
    --highlight-color: black !important;
}

    //Botones de la foto y el registro
   ion-content button{
    background-color:#ffa858;
    border-style: none;
  }
  //icono de la barra de botones
  .menu{
    color: white;
  }


@media (min-width: 600px){

  //Logo de la empresa
  .logo img{
    width: 20%;
    height: 15%;
}
  
//centrado del registro
  .put{
    display: flex;
    justify-content: center; // Centrado horizontal
    align-items: center; // Centrado vertical
  } 
  .inputsion{
    width: 70%;
   }
   button{
    width: 40% !important;
    height: 30px !important;
    font-size: 10px;
   }
   ion-header{
    height: 7%;
}
ion-toolbar{
    height: 100%;
}
 //Titulo
ion-title{
  font-size: 120%;
  position: relative;
top: -5px; 
}
h1{
  font-size: 50px !important;
}

//Botones de registros
ion-input{
  width: 100%;
  min-height: 40px !important;
  font-size: 12px;
}



}
