ion-title{
  font-family: "INTRO";
  color: black;
}

ion-menu::part(backdrop) {
    background-color: rgba(24, 21, 24, 0.5);
  }
  
ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px rgba(24, 21, 24, 0.5);
}
.btn{
    width: 100%;
}
.tarjetausu{
    display: inline-flex;
}
.actions{
    width: 20%;
}

//color de fondo
//color de fondo de la targeta
ion-card{
    background: #ff9d29;
    color: white;
}
//Color de la cantidad de precio
ion-input{
    background-color: white;
}
//color de fondo
ion-select{
    background-color: white;
}
b{
  color: white;
}
ion-input{
  border-radius: 10px;
  color: black;
}
ion-row{
  color: black;
}
.logo img{
    width: 50%;
    height: 50%;
  }
//fondo de la targeta
button{
  background-color:#ff5c00 ;
  border-style: none;
}
button:hover{
  background-color: white !important;
  color: black;
}
//color de fondo del menu
ion-toolbar{
  
  text-align: center;
  --ion-background-color:#ff5c00;
}
//Fondo del menu del despliegue
ion-menu ion-content {
  --ion-background-color: #f1d9b0;
}

//Metodo de pago
  .option ion-select{
      width: 95%;
      margin: 10px; 
      border-style: none;
  }
  // Monto recibido
  ion-input{
      width: 95%;
      margin: 10px;
      border-style: none;
  }    
  // Boton de pago
  .pago button{
      width: 95%;
  }
  //modo Escritorio
@media (min-width: 600px) {

  ion-card{
    width: 70%;
    height: 100%;
  } 

  .container{
    display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
.card-wrapper{
    justify-content: center;
    
}
button{
  width: 40% !important;
}

ion-header{
  height: 7%;
}
ion-toolbar{
  height: 100%;
}

ion-title{
 
  font-size: 120%;
  position: relative;
top: -5px; 
}

ion-input{
  min-height: 40px !important;
  font-size: 10px;
}
.option ion-select{
    min-height: 40px !important;
  font-size: 10px;
}



  }
  .custom-alert {
    white-space: pre-line;
  }


