ion-title{
    font-family: "INTRO";
    color: black;
}
ion-menu::part(backdrop) {
    background-color: rgba(24, 21, 24, 0.5);
  }
  
ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px rgba(24, 21, 24, 0.5);
}
.btn{
    width: 100%;
}
.tarjetausu{
    display: inline-flex;
}
.actions{
    width: 20%;
}
ion-menu ion-content {
    --ion-background-color: #f1d9b0;
  }
  ion-content button{
    background-color:#ff9d29 ;
    border-style: none;
  }
  h5{
    color: white;
  }
  h6{
    color: white;
  }
  ion-card-content{
    color: white;
  }
//panel del titulo
ion-toolbar{
    text-align: center;
    --ion-background-color:#ff5c00;
}
ion-searchbar{
    //--ion-background-color: #f1d9b0;
    --ion-border-color:black;
}
ion-icon{
    color: black;
}
//fondo de las targetas
ion-card{
    --ion-background-color: #ff9d29;
  }
ion-title{
    color: black;
}
.imgUser{
    width: 75%;
}
//Modo Escritorio
@media (min-width: 600px){
    .imgUser{
        width: 60%;
    }
    ion-card{
        width: 90%;
    } 

    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .card-wrapper{
        justify-content: center;
    }
    ion-header{
        height: 7%;
    }
    ion-toolbar{
        height: 100%;
    }

    ion-title{
        font-size: 120%;
        position: relative;
  top: -5px; 
    }

    .searchbar-container {
        text-align: center; /* Centrar horizontalmente */
      }
      
      ion-searchbar {
        display: inline-block; /* Para que ocupe solo el ancho necesario */
        margin: 0 auto; /* Aplicar margen automático en los lados para centrar */
        width: 80%;
      }
      
}
